
INSERT INTO Titles (TitleId, Name, CreatedBy_Id, CreatedDateTime)
VALUES
(1, 'Mr.', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP),
(2, 'Ms.', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP),
(3, 'Mrs.', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP),
(4, 'Dr.', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO NotificationTypes (NotificationTypeId, Name, CreatedBy_Id, CreatedDateTime)
VALUES
(1, 'Collection Ready', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP),
(2, 'Requisition Approval', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP),
(3, 'Stock Adjustment Approval', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);



INSERT INTO AspNetRoles (Id, Name)
VALUES
(1, 'Employee'),
(2, 'DepartmentHead'),
(3, 'Store Clerk'),
(4, 'Store Supervisor'),
(5, 'Store Manager'),
(6, 'Admin');

UPDATE AspNetUsers
SET Department_DepartmentCode = 'ENGL', Supervisor_Id = '1c8c4810-af09-4aa0-9c63-2856d80bd845', FirstName = 'Admin', Status_StatusId = 1
WHERE Id = '1c8c4810-af09-4aa0-9c63-2856d80bd845';






INSERT INTO Delegations (DelegationId, Receipient_Id, StartDate, EndDate, Status_StatusId, CreatedBy_Id, CreatedDateTime)
VALUES
(1, '1c8c4810-af09-4aa0-9c63-2856d80bd845', '2018-07-13 00:00:00.000', '2018-07-14 00:00:00.000', 1, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO Notifications (NotificationId, NotificationType_NotificationTypeId, Contents, Status_StatusId, CreatedFor_Id, CreatedDateTime)
VALUES
(1, 1, 'TEST', 14, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO Requisitions (RequisitionId, Department_DepartmentCode, CollectionPoint_CollectionPointId, EmployeeRemarks, HeadRemarks, Status_StatusId, CreatedBy_Id, ApprovedBy_Id, CreatedDateTime, ApprovedDateTime)
VALUES ('TEST', 'ENGL', 1, 'TEST', 'TEST', 6, '1c8c4810-af09-4aa0-9c63-2856d80bd845', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);

INSERT INTO RequisitionDetails (RequisitionId, ItemCode, Quantity, Status_StatusId)
VALUES ('TEST', 'E032', 1, 1);

INSERT INTO Retrievals (RetrievalId, Status_StatusId, CreatedBy_Id, CreatedDateTime)
VALUES ('TEST', 1, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO Disbursements (DisbursementId, Department_DepartmentCode, Remarks, Status_StatusId, CreatedBy_Id, CreatedDateTime)
VALUES ('TEST', 'ENGL', 'TEST', 1, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO DisbursementDetails (DisbursementId, ItemCode, Bin, PlanQuantity, ActualQuantity, Status_StatusId, UpdatedBy_Id, UpdatedDateTime)
VALUES ('TEST', 'E030', 'J19', 1, 1, 18, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO PurchaseOrders (PurchaseOrderNo, SupplierCode, Status_StatusId, CreatedBy_Id, CreatedDateTime)
VALUES ('TEST', 'CHEP', 11, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO PurchaseOrderDetails (PurchaseOrderNo, ItemCode, Quantity, Status_StatusId)
VALUES ('TEST', 'E030', 1, 1);

INSERT INTO DeliveryOrders (DeliveryOrderNo, PurchaseOrder_PurchaseOrderNo, Supplier_SupplierCode, DeliveryOrderFileName, InvoiceFileName, Status_StatusId, CreatedBy_Id, CreatedDateTime)
VALUES ('TEST', 'TEST', 'CHEP', 'TEST.pdf', 'TEST.pdf', 11, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO DeliveryOrderDetails (DeliveryOrderNo, ItemCode, PlanQuantity, ActualQuantity, Remarks, Status_StatusId, UpdatedBy_Id, UpdatedDateTime)
VALUES ('TEST', 'E030', 1, 1, 'TEST', 11, '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO StockAdjustments (StockAdjustmentId, Remarks, Status_StatusId, CreatedBy_Id, UpdatedBy_Id, ApprovedBySupervisor_Id, ApprovedByManager_Id, CreatedDateTime, UpdatedDateTime, ApprovedSupervisorDateTime, ApprovedManagerDateTime)
VALUES ('TEST', 'TEST', 6, '1c8c4810-af09-4aa0-9c63-2856d80bd845', '1c8c4810-af09-4aa0-9c63-2856d80bd845', '1c8c4810-af09-4aa0-9c63-2856d80bd845', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);

INSERT INTO StockAdjustmentDetails (StockAdjustmentId, ItemCode, OriginalQuantity, AfterQuantity, Reason, UpdatedBy_Id, UpdatedDateTime)
VALUES ('TEST', 'E030', 1, 2, 'TEST', '1c8c4810-af09-4aa0-9c63-2856d80bd845', CURRENT_TIMESTAMP);

INSERT INTO StockMovements (StockMovementId, Item_ItemCode, StockAdjustmentId, StockAdjustmentDetailItemCode, OriginalQuantity, AfterQuantity, CreatedDateTime)
VALUES (1, 'E030', 'TEST', 'E030', 1, 1, CURRENT_TIMESTAMP);