this is the supplier table partial view


<div style="width:90%; margin:0 auto" class="tablecontainer">
    <table id="myTable">
        <thead>
            <tr>
                <th>Supplier Code</th>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Phone Number</th>
                <th>Fax Number</th>
                <th>Address</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#myTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("loaddata", "Supplier")',
                    "type": "get",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "SupplierCode", "autoWidth": true },
                    { "data": "Name", "autoWidth": true },
                    { "data": "ContactName", "autoWidth": true },
                    { "data": "PhoneNumber", "autoWidth": true },
                    { "data": "FaxNumber", "autoWidth": true },
                    { "data": "Address", "autoWidth": true },

                ]
            });

        })


    </script>

}