
<table id="poDetailTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty Ordered</th>
            <th>Unit Price</th>
            <th>Amount</th>
            <th>Received Quantity</th>
            <th>Remaining Quantity</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

</table>
