@model team7_ssis.ViewModels.DepartmentViewModel
@{
    ViewBag.Title = "DepartmentOptions";
}

@using (Html.BeginForm("SaveOptions", "Department", FormMethod.Post, new { @id = "departmentoptions", role = "form" }))
{
    <br />
    <div class="col-sm-3">
        <div class="form-group">
            <label for="CollectionPoint">Collection Point</label><br />
            @Html.DropDownListFor(m => m.CollectionPoint, new SelectList(Model.CollectionPoints, "Value", "Text"), "--Select Collection Point--", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="DepartmentRepresentative">Department Representative</label><br />
            @Html.DropDownListFor(m => m.DepartmentRep, new SelectList(Model.UsersByDepartment, "Value", "Text"), "--Select Representative--", new { @class = "form-control" })
        </div>
    </div>
    <div class="row button-set " >
        <div class="col-sm-1"></div>
        <div class="col-lg-6">
            <a id="cancel-btn" class="btn btn-danger"> Cancel</a>
            <button id="submit" type="submit" class="btn btn-success"> Save</button>


        </div>
    </div>
}