@section scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/DeliveryOrder.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
    |}


<!DOCTYPE html>
<html>
<body>
    <div class="col-md-8">

        <h2>Receive Goods</h2>
 
    </div>
    <div>
        <table id="myDOTable"  class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Qty Ordered</th>
                    <th>Received Qty</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
