@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Custom/DeliveryOrder.js"></script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/Content/Site.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">


<link rel="stylesheet" href="~/Content/Site.css">

<!DOCTYPE html>
<html>
<body>
    <div>
        <table id="myOutstandingTable" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Outstanding Quantity</th>
                    <th>Received Quantity</th>
                    <th>Remaining Quantity</th>
                    <th>Cancel?</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
