@section scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/DeliveryOrder.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
    |}

<!DOCTYPE html>
<html>
<body>

    <div class="col-md-8">
          <h2>Delivery Order # </h2>
    </div>
    <div>
        <table id="myDOTable">
            <thead>
                <tr>
                    <th>DeliveryOrder#</th>
                </tr>
            </thead>
        </table>
    </div>
    <div>
        <table id="myDOTable">
            <thead>
                <tr>
                    <th>DeliveryOrder#</th>
                    <th>SupplierName</th>
                    <th>Status</th>
                    <th>DeliveryOrder#</th>
                    <th>CreatedBy</th>
                    <th>Invoice</th>
                    <th>CreatedDate</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

