@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Custom/DeliveryOrder.js"></script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/Content/Site.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">

<link rel="stylesheet" href="~/Content/Site.css">

<!DOCTYPE html>
<html>

<body>
    <div class="col-md-8">

        <h2>Receive Goods</h2>

    </div>
    <div style="width:90%; margin:0 auto" class="tablecontainer">

        <h3> Select the Purchase Order for which your are receiving goods</h3>
        <table id="myTable" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>PurchaseOrderNo</th>
                    <th>Supplier Name</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">

        <button id="confirm" type="button" class="btn btn-primary">Confirm</button>

    </div>
</body>
</html>

