@section scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/DeliveryOrder.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
    |}


@{
    ViewBag.Title = "OutstandingItems";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receive Goods</title>
</head>

<body>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <table>
            <tr>
                <td>Receive Goods</td>
                <td>
                    <a runat="server" class="popup btn btn-primary" href="~/Views/DeliveryOrder/ReceiveGoods" style="margin-bottom:20px; margin-top:20px;">View Related Delivery Orders</a>
                </td>
            </tr>
            <tr>
                <td>Submit deliver order forms & invoices and update inventory</td>
            </tr>
        </table>
    </div>

    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <table id="myOutstandingTable">

            <thead>

                <tr>

                    <th>Item Code</th>

                    <th>Description</th>

                    <th>Outstanding Qty</th>

                    <th>Received Qty</th>

                    <th>Remaining Qty</th>

                    <th>Cancel?</th>

                </tr>

            </thead>

        </table>

    </div>
</body>
</html>


