
@model team7_ssis.ViewModels.DeliveryOrderViewModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receive Goods</title>
</head>

<body>
    <h1>Submit delivery order forms & invoices and update inventory</h1>
    <div style="width:90%; margin:0 auto" class="container">
       
        <a runat="server" class="popup btn btn-primary" href="~/Views/DeliveryOrder/ReceiveGoods" style="margin-bottom:20px; margin-top:20px;">View Related Delivery Orders</a>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>Purchase Order #</td>
                        <td> Supplier Name</td>
                        <td>Order Date</td>
                    </tr>
                </thead>
                <tr>
                    <td>@Html.DisplayFor(model => model.PurchaseOrderNo)</td>
                    <td>@Html.DisplayFor(model => model.SupplierName)</td>
                    <td>@Html.DisplayFor(model => model.OrderDate)</td>
                </tr>
            </table>
            <a class="popup btn btn-primary" href="#" style="margin-bottom:20px; margin-top:20px;">View</a>
        </div>
    </div>
</body>
</html>
