

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Custom/DeliveryOrder.js"></script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/Content/Site.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css">


<link rel="stylesheet" href="~/Content/Site.css">

@model team7_ssis.ViewModels.PurchaseOrderViewModel


<!DOCTYPE html>
<html>

<body>
    <div class="col-md-8">

        <h2>View Delivery Orders</h2>
        @Html.Hidden("poNo", Model.PurchaseOrderNo)

    </div>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <table id="myRGTable" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>DO Number</th>
                    <th>PO Number</th>
                    <th>SupplierName</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>



