@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
    <script src="~/Scripts/DeliveryOrder.js"></script>
}
<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>View Delivery Orders</title>
    </head>

    <body>
            <div>
                <table id="myDOTable" class="hover">
                    <thead>
                        <tr>
                            <th>Delivery Order No</th>
                            <th>Purchase Order No</th>
                            <th>Supplier Name</th>
                            <th>Order Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
    </body>
</html>

