<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddItems</title>
</head>
<body>
    @*@Html.BeginForm("New","StockAdjustment",FormMethod.Post,new { id = "myform" })*@

    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <form id="myform" method="post">
            <input id="addBtn" type="submit" class="popup btn btn-primary" href="#" style="margin-bottom:20px; margin-top:20px" value="Add To Stock Adjustment"/>

            <table id="itemTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item Number</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>In Stock</th>
                        <th>Reorder Level</th>
                        <th>Reorder Quantity</th>
                        <th>Unit of Measurement</th>
                        <th>Unit Price</th>
                    </tr>
                </thead>
            </table>
        </form>
    </div>

    <script>

        $(document).ready(function () {

            $('.tablecontainer #myform').on('click', '#addBtn', function (e) {                
                // var i;
                //for (i = 0; i < selected.length; i++) {
                //    console.log(selected[i]);
                //}
                //var postData = { values: selected };

                //console.log(postData);
                $.ajax({
                    type: "post",
                    url: "/api/stockadjustment/items",
                    contentType: "application/json",
                    data: { itemCodes: selected },
                    dataType: "json",
                    traditional: true,
                    success: function () {
                        alert("it worked!");
                    }
                               
                })
              
                
            });


            var oTable = $('#itemTable').DataTable({
                sAjaxSource: "/api/manage/items",
                sAjaxDataProp: "",

                "bDeferRender": true,
                'columnDefs': [{
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }],
                'order': [[1, 'asc']],
                "columns": [
                    { "defaultContent": "<input type='checkbox' id='mycheck' value=''>"},
                    { "data": "ItemCode", "autoWidth": true },
                    { "data": "ItemCategoryName", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    { "data": "Quantity", "autoWidth": true },
                    { "data": "ReorderLevel", "autoWidth": true },
                    { "data": "ReorderQuantity", "autoWidth": true },
                    { "data": "Uom", "autoWidth": true },                 
                    { "data": "UnitPrice","autoWidth":true }
                ]

            });
        

        var selected = new Array();
        //all about checkbox
        $('#itemTable tbody').on('change', '#mycheck', function (e) {
            var rowSelected = oTable.row($(this).parents('tr')).data().ItemCode;
            if (this.checked != true) {
                var index = selected.indexOf(rowSelected);
                if (index > -1) {
                    selected.splice(index, 1);
                }
                //alert('you are unchecked this again!')
            }
            else {
                selected.push(rowSelected);
            }
            //alert(selected.length);

        })
        });
    </script>

</body>