<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddItems</title>
</head>
<body>
    @*@Html.BeginForm("New","StockAdjustment",FormMethod.Post,new { id = "myform" })*@

    <div style="width:90%; margin:0 auto" class="tablecontainer">

        <input id="addBtn" type="submit" class="popup btn btn-primary" href="#" style="margin-bottom:20px; margin-top:20px" value="Add To Stock Adjustment" />
        <table id="itemTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>In Stock</th>
                    <th>Reorder Level</th>
                    <th>Reorder Quantity</th>
                    <th>Unit of Measurement</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>

        $(document).ready(function () {

            $('#addBtn').click(function (){

                var data = $('#itemTable').DataTable().rows({ selected: true }).data().toArray();
                var itemCodes = [];
                for (i = 0; i < data.length; i++) {
                    itemCodes[i] = data[i].ItemCode;}

            $.ajax({
                type: "POST",
                url: "/api/stockadjustment/items",
                contentType: "application/json",
                data: JSON.stringify(itemCodes),
                dataType: "json",
                traditional: true,
                });

             

        });


        var oTable = $('#itemTable').DataTable({
            sAjaxSource: "/api/manage/items",
            sAjaxDataProp: "",

            "bDeferRender": true,
            'columnDefs': [{
                'targets': 0,
                'checkboxes': {
                    'selectRow': true
                }
            }],
            'order': [[1, 'asc']],
            "columns": [

                { "data": "ItemCode", "autoWidth": true },
                { "data": "ItemCategoryName", "autoWidth": true },
                { "data": "Description", "autoWidth": true },
                { "data": "Quantity", "autoWidth": true },
                { "data": "ReorderLevel", "autoWidth": true },
                { "data": "ReorderQuantity", "autoWidth": true },
                { "data": "Uom", "autoWidth": true },
                { "data": "UnitPrice", "autoWidth": true }
            ],
            select: 'multi'

        });


            });
    </script>

</body>


        @*//var selected =[];
        ////all about checkbox
        //$('#itemTable tbody').on('change', '#mycheck', function (e) {
        //    var rowSelected = oTable.row($(this).parents('tr')).data().ItemCode;
        //    if (this.checked != true) {
        //        var index = selected.indexOf(rowSelected);
        //        if (index > -1) {
        //            selected.splice(index, 1);
        //        }
        //        //alert('you are unchecked this again!')
        //    }
        //    else {
        //        selected.push(rowSelected);
        //    }
        //    //alert(selected.length);

        //})*@