<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <h2>Manage Stock Adjustments</h2>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
      
        <table id="mySATable" class="hover">
            <thead>
                <tr>
                    <th>StockAdjustmentId</th>
                    <th>CreatedBy</th>
                    <th> ApprovedBySupervisor</th>
                    <th>CreatedDateTime</th>
                    <th>StatusName</th>
                    <th>Detail</th>
                </tr>
            </thead>

        </table>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#mySATable').DataTable({

                sAjaxSource: "/api/stockadjustment/all",
                sAjaxDataProp: "",

                columns: [
                    { data: "StockAdjustmentId", "autoWidth": true },
                    { data: "CreatedBy", "autoWidth": true },
                    { data: "ApprovedBySupervisor", "autoWidth": true },
                    { data: "CreatedDateTime", "autoWidth": true },
                    { data: "StatusName", "autoWidth": true },
                    

                ],
                select: 'single',

                //ColumnDefs: [{
                //    "targets": 5,
                //    "data": null,
                //    "render": function (data, type, row) {
                //        var id = '"' + row.id + '"';
                //        var html = "<a href='javascript:void(0);'  class='delete btn btn-default btn-xs'>Details</a>"
                //        return html;
                //    }
                //}],

            });

        })

    </script>

</body>
