@using team7_ssis.Models

@{
    List<StockAdjustment> list = (List<StockAdjustment>)ViewData["list"];
}
<div>
    <h2>Home</h2>

    <table>
        <tr><th>StockAdjustmentId</th> </tr>
        @foreach (StockAdjustment sd in list)
        {
            <tr>
            <td> @sd.StockAdjustmentId </td>
          
            </tr>
        }

    </table>

</div>
