@using team7_ssis.ViewModels

<h2>Make Stock Adjustment</h2>

<div>
    <table>
        <tr>
            <td width="400"> Possible cause:</td>
            <td width="400"> Authorising Adjustments:</td>
        </tr>
        <tr>
            <td width="400">1.items broken or expired</td>
            <td width="400"> Minor:Anything under &250 per item adjustment can be</td>
        </tr>
        <tr>
            <td width="400">2.adhoc(i.e.deteced when trying to issue the item(s))</td>
            <td width="400">authorised by Supervisor</td>
        </tr>

        <tr>
            <td width="400"> 3.when issue/receipt of them is not recorded(i.e oversight)</td>
            <td width="400"> Major:Anything over &250 must be authorised by Manager</td>
        </tr>
    </table>
    <br />
</div>
<table>
    <tr>
        <td width="400" align="left"> <input type="button" value="Add Item" onclick="location.href='@Url.Action("list","ItemController")'"></td>
        <td width="400" align="right"> <input type="button" value="Save as Draft"></td>
    </tr>
</table>
<br />
<div>

    <br />
    <div>
        here is a datatables
    </div>
    <br />

    <table>
        <tr>
            <td width="400"> Authorising Supervisor</td>
            <td width="400"> Authorising Manager</td>

        </tr>
        <tr>
            <td>
                @Html.DropDownList("FirstName", ViewBag.select1 as SelectList, "pls select supervicor")
            </td>

            <td>

                @Html.DropDownList("FirstName", ViewBag.select2 as SelectList, "pls select managers")
            </td>

        </tr>
    </table>
    <br />

    <input type="button" value="cancel">

    <input type="button" value="Submit">

</div>








