


<div style="width:90%; margin:0 auto" class="tablecontainer">

    <table id="mySATable" class="hover">
        <thead>
            <tr>
                <th>StockAdjustmentId</th>
                <th>CreatedBy</th>
                <th>ApprovedBySupervisor</th>
                <th>CreatedDateTime</th>
                <th>StatusName</th>
                <th>View</th>
                <th>Cancel</th>
                <th>ProcessByManager</th>
            </tr>
        </thead>

    </table>
</div>
