
<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Item Category ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>

        </tr>
    </thead>

</table>

