@model team7_ssis.ViewModels.UrlTokenViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UNAUTHORIZED</h1>
    <p class="lead">Only Department Representatives can access the Requisitions Page. Please contact your Department Head to change representatives if you receive this message.</p>
</div>