@model team7_ssis.ViewModels.EditItemFinalViewModel

@using Newtonsoft.Json
@{
    ViewBag.Title = "Details";
}

<h2>Item Details</h2>

<br /><br />
@Html.Partial("_ItemDetail")

<br /><br />
@Html.Partial("_StockHistoryTable")



<script>
    function firstLoad() {
        $('#itemEdit').show();
        $(".button-set").hide();
        disableInput();
    }
    window.onload = firstLoad;

        var itemCode = '@(ViewBag.VB)';
        var oTable = $('#myTable').DataTable({
            sAjaxSource: "/api/manage/stockhistory/" + itemCode,
            sAjaxDataProp: "",
            'order': [[1, 'asc']],
            "columns": [
                { "data": "theDate", "autoWidth": true },
                { "data": "host", "autoWidth": true },
                { "data": "qty", "autoWidth": true },
                { "data": "balance", "autoWidth": true }
            ]
        });

        $.ajax({
            type: 'GET',
            url: '/api/manage/singleitem/' + itemCode,
            dataType: 'json',
            success: function (data) {
                var i;
                for (i in data) {
                    $('#itemdetails').find('[id="' + i + '"]').val(data[i]);
                }
            }
        })
        var mine = @Html.Raw(Json.Encode(this.Model));
        var test = mine.SupplierName;
        alert(test.length);
        var pTable = $('#suppTable').DataTable({
            "searching": false,
            "paging": false,
            "info": false,
            "lengthChange": false,
            sAjaxSource: "/api/manage/supplierInfo/" + itemCode,
            sAjaxDataProp: "",
            'order': [[1, 'asc']],
            "columns": [
                {
                    "data": "SupplierName", "autoWidth": true,
                    render: function (data, type, row) {
                        var $select = $("<select id='SupplierNameSelect' disabled></select>", {
                            "id": row.Text,
                            "value": row.Value
                        });

                        var optionhtml1 = '<option value="' +
                            0 + '">' + row.SupplierName + '</option>';
                        $select.append(optionhtml1);
                         
                        $.each(test, function (i) {
                        var optionhtml = '<option value="' +
                                test[i].Value + '">' + test[i].Text + '</option>';
                            $select.append(optionhtml);

                            if (data === test[i]) {
                                $option.attr("selected", "selected")
                            }
                        });
                        return $select.prop("outerHTML");
                    }
                },
                {
                    "data": "SupplierUnitPrice", "autoWidth": true,
                    render: function (data, type, row) {
                        return '<input class="form-control"  style="border:none" id=Price" type="number" disabled  min="0.01" step="0.01" max="2500" value = ' + row.SupplierUnitPrice + '  >';
                    }
                }
            ]
        })

        $('#SupplierNameSelect').on('click',function () {
            //var dummy1 = $("#SupplierNameSelect option:selected").val();
            var dummy1 = $(this).find(':selected').val();
            alert(dummy1);
        })

        $('#suppTable tbody').on('change', '#SupplierNameSelect', function (e) {
            //var value = Number($(this).val());
            //var rowSelected = pTable.row($(this).parents('tr')).data().SupplierName;
            var dummy1 = $("#SupplierNameSelect option:selected").val();
                alert(dummy1);
        })


        $('#itemEdit').on('click', function () {
            $('#itemEdit').hide();
            $(".button-set").show();
            
           enableInput();
        });

        function disableInput() {
            $('#itemdetails')
                .find('input')
                .prop('disabled', true);
            $('#itemdetails')
                .find('textarea')
                .prop('disabled', true);
            $('#itemdetails')
                .find('select')
                .prop('disabled', true);
        }
        function enableInput() {
            $('#itemdetails')
                .find('input')
                .prop('disabled', false);
            $('#itemdetails')
                .find('textarea')
                .prop('disabled', false);
            $('#itemdetails')
                .find('select')
                .prop('disabled', false);

        }

</script>