@using team7_ssis.Models
@model IEnumerable<Item>
@{
    ViewBag.Title = "Manage Inventory";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Manage Inventory Item</h2>
        <table>
            @{
        var data = (List<Item>)ViewData["Items"];
            }
            @foreach (var item in @data)
             {
                <tr><td> @item.Name </td></tr>
            }
        </table>
    </div>
</body>
</html>
