body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dataTables_wrapper .dataTables_length {
    float: right; 
}

.dataTables_length label {
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    font-weight: normal;
    font-family: Arial;
}


.dataTables_wrapper .dataTables_filter {
        float: left;
        text-align: left;
    }



.dataTables_filter input {
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight:normal;
    font-family:Arial;
}


.dataTables_length select {
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: normal;
    font-family: Arial;
}



.delivered {
    background-color: PaleGreen !important;
    border: 5px solid white !important;
    text-align: center;
}

.awaiting-delivery {
    background-color: FireBrick !important;
    border: 5px solid white !important;
    color: white;
    text-align: center;
}

.partially-delivered {
    background-color: Gold !important;
    border: 5px solid white !important;
    text-align: center;
}
