body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.delivered {
    background-color: MediumSeaGreen !important;
    text-align: center;
    color: white;
}

.awaiting-delivery {
    background-color: firebrick !important;
    color: white;
    text-align: center;
}

.partially-delivered {
    background-color: gold !important;
    text-align: center;
    color: white;
}
.draft {
    background-color: dodgerblue !important;
    text-align: center;
    color: white;
}
.cancel {
    background-color:limegreen !important;
    text-align: center;
    color: white;
}


/* Find out more about the below naming convention, BEM Block-Element-Modifier at http://getbem.com/introduction/; the first word acts as a namespace*/
.step__icon {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 999px;
    height: 48px;
    width: 48px;
    text-align: center;
    position: absolute;
}

.step__label {
    margin-left: 60px;
    display: inline-block;
}

.step__arrow {
    left: 50%;
    top: 50%;
    position: absolute;
}


.step__arrow {
    left: 50%;
    top: 50%;
    position: absolute;
}

.step__container {
    position: relative;
}

.label {
    margin-top: 1rem;
    font-weight: bold;
}

.thumbnail__regular {
    border: 1px solid black;
    background-color: grey;
    height: 180px;
    width: 100%;
}

.thumbnail__small {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: grey;
}

.pointer {
    cursor: pointer;
}


/* Find out more about the below naming convention, BEM Block-Element-Modifier at http://getbem.com/introduction/; the first word acts as a namespace*/
.step__selected {
    background-color: #007bff;
    color: white;
}

.step__selected .step__icon {
    background-color: white;
}

.step__unselected {
    border-color: #007bff;
}

.step__selected .step__icon i {
    color: #007bff;
}

.step__icon {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 999px;
    height: 48px;
    width: 48px;
    text-align: center;
    position: absolute;
}

.step__label {
    margin-left: 60px;
    display: inline-block;
}

.step__arrow {
    left: 50%;
    top: 50%;
    position: absolute;
}

.step__fade {
    opacity: 0.5;
}

.step__arrow {
    left: 50%;
    top: 50%;
    position: absolute;
}

.step__container {
    position: relative;
}

#modalMsg {
    color: red;
}