


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>

<body>

    <div style="margin:0 auto" class="container">
        
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Supplier Code</th>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Phone Number</th>
                    <th>Fax Number</th>
                    <th>Address</th>

                </tr>
            </thead>

        </table>
    </div>


    <script>
        $(document).ready(function () {
             
            var table = $('#myTable').DataTable({
                select: true,
                sAjaxSource: "/api/supplier/all",
                sAjaxDataProp: "",
                pageLength:'5',
                columns: [
                    { "data": "SupplierCode", "autoWidth": true },
                    { "data": "Name", "autoWidth": true },
                    { "data": "ContactName", "autoWidth": true },
                    { "data": "PhoneNumber", "autoWidth": true },
                    { "data": "FaxNumber", "autoWidth": true },
                    { "data": "Address", "autoWidth": true },


                ],
                select: {
                    style: 'single'
                }
   
            
            });


            $('#myTable tbody').on('click', 'tr', function () {
                var rowdata = table.row(this).data();
                var xid = rowdata.SupplierCode;
                $(".collapse").collapse('toggle');
                $.ajax({
                    type: 'GET',
                    url: '/api/supplierapi/',
                    dataType: 'json',
                    data: { id: xid },
                    success: function (data) {
                        var i;
                        for (i in data) {
                            $('#supplier-form').find('[id="' + i + '"]').val(data[i]);
                        }
                    }
                });
                
            });


        })

    </script>

</body>
