<form id="supplier-form">

    <div class="form-group">
        <label for="SupplierCode">Supplier Code</label><br />
        <input type="text" class="form-control" id="SupplierCode">
    </div>


    <div class="row">

        <div class="col-sm-3">
            <div class="form-group">
                <label for="CompanyName">Company Name</label><br />
                <input type="text" class="form-control" id="Name">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="ContactName">Contact Name</label><br />
                <input type="text" class="form-control" id="ContactName">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="phone">Phone Number</label><br />
                <input type="text" class="form-control" id="PhoneNumber">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Fax">Fax Number</label><br />
                <input type="text" class="form-control" id="FaxNumber">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="Address">Address</label><br />
                <textarea class="form-control" rows="3" id="Address"></textarea>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Fax">GST Registration No.</label><br />
                <input type="text" class="form-control" id="GSTNumber">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Status">Status</label><br />
                <select class="form-control" id="Status">
                    <option>Disabled</option>
                    <option>Enabled</option>

                </select>
            </div>
        </div>
    </div>

   
</form>

