
@{
    ViewBag.Title = "Index";
}


<div class="row mb-3">
    <div class="col-md-8">
        <h2>Manage Suppliers</h2>
    </div>
    <div class="col-md-4">
        <a class="popup btn btn-primary pull-right" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Create New Supplier</a>
    </div>
</div>
<br /><br />
    @Html.Partial("_SupplierTable")



<br />
<div id="demo" class="collapse">
    

        @Html.Partial("_SupplierDetail")




</div>

