@section Scripts {
    <script src="~/Scripts/Custom/RedirectPost.js"></script>
    <script src="~/Scripts/Custom/ManageRequisitions.js"></script>
}

@{
    ViewBag.Title = "Index";
}

<div class="row mb-3">
    <div class="col-md-8">
        <h2>Manage Requisitions</h2>
    </div>
    <div class="col-md-4">
        @*<a id="createNewRequisitionButton" class="popup btn btn-primary pull-right" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Create New Requisition</a>*@
        <a id="processAllRequisitionButton" class="popup btn btn-primary pull-right" href="#"><i class="fa fa-check" aria-hidden="true"></i> Process All Requisitions</a>
    </div>
</div>

@{
    if (Request.QueryString["rid"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Requisition #@Request.QueryString["rid"] created.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <button id="processSelectedButton" class="btn btn-default mb-2">Process Selected</button>
    </div>
</div>

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Requisition</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

</table>