@model List<int>

@section Scripts {
    <script src="~/Scripts/Custom/RedirectPost.js"></script>
    <script src="~/Scripts/Custom/AcceptRejectButtons.js"></script>
}

@{
    ViewBag.Title = "Index";
}

<div class="row mb-3">
    <div class="col-md-8">
        <h2>Manage Requisitions</h2>
        @if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
        {
            <p>New Requisitions & Partially Filled Requisitions will be processed from most recent to least recent.</p>
        }
    </div>
    <div class="col-md-4">
        @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
        {
            <a id="createNewRequisitionButton" class="popup btn btn-primary pull-right" href="/Requisition/CreateRequisition"><i class="fa fa-plus" aria-hidden="true"></i> Create New Requisition</a>
        }
        @if (User.IsInRole("DepartmentHead") || User.IsInRole("Admin"))
        {
            <a id="approveOustandingRequisitionBtn" class="popup btn btn-success pull-right" href="#"><i class="fa fa-check" aria-hidden="true"></i> Approve All Outstanding Requisitions</a>
        }
        @if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
        {
            <a id="processAllRequisitionButton" class="popup btn btn-primary pull-right" href="#"><i class="fa fa-check" aria-hidden="true"></i> Process All Requisitions</a>
        }
    </div>
</div>

<div id="alert"></div>

@if (ViewBag.Danger != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.Danger
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.Success
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (User.IsInRole("Store Clerk") || User.IsInRole("Store Supervisor") || User.IsInRole("Store Manager") || User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-12">
            <button id="processSelectedButton" class="btn btn-default mb-2">Process Selected</button>
        </div>
    </div>
}

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>Requisition</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

</table>

<script>
    var myTable;
    $(document).ready(function () {
        myTable = $('#myTable').DataTable({
            ajax: {
                url: "/api/requisitions",
                data: function (d) {
                    return JSON.stringify(@Html.Raw(Json.Encode(Model)));
                },
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                dataSrc: ""
            },
            order: [[0, 'desc']],
            columns: [
                { "data": "Requisition", "autoWidth": true },
                { "data": "Status", "autoWidth": true },
                {
                    "render": function (data, type, row, meta) {

                        var html = "";
                        @if ( User.IsInRole("Employee") || User.IsInRole("Admin") )
                        {
                        <text>

                        var viewDetailsHtml = '<a class="dropdown-item getInfo"><i class="fa fa-info-circle" aria-hidden="true"></i> View Details</a>';
                        var editDetailsHtml = '<a class="dropdown-item editDetails"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Details</a>';
                        var createNewDraftWithHtml = '<a class="dropdown-item" href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Create New Draft With...</a>';
                        var cancelHtml = '<div class="dropdown-divider"></div>' +
                            '<a class="dropdown-item" id="cancel"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>';

                         html += '<div class="dropdown">' +
                            '<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                            'Actions' +
                            '</a>' +
                            '<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">' +
                            ( ( row.Status == "Pending Approval" || row.Status == "Draft" ) ? editDetailsHtml : viewDetailsHtml ) +
                            createNewDraftWithHtml +
                            ( ( row.Status == "Pending Approval" ) ? cancelHtml : "" ) +
                            '</div >' +
                            '</div >';
                        </text>
                        }

                        @if ( User.IsInRole("DepartmentHead") || User.IsInRole("Admin") )
                        {
                            <text>
                        if (row.Status == "Pending Approval" ) {
                            html += '<button id="approveBtn" type="button" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>' +
                                '<button id="rejectBtn" type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>';
                        }

                            </text>
                        }

                        @if ( User.IsInRole("DepartmentHead") || User.IsInRole("Store Clerk") || User.IsInRole("Admin") )
                        {
                            <text>
                        html += '<button type="button" class="btn btn-secondary getInfo"><i class="fa fa-info-circle" aria-hidden="true"></i></button>';

                            </text>
                        }
                        return html;
                    }
                }
            ],
            @if (User.IsInRole("Admin") || User.IsInRole("Store Clerk"))
            {
            <text>
            select: true
            </text>
            } else {
            <text>
            select: "api"
            </text>}
        });

        // initialize column filtering
        yadcf.init(myTable, [
            {
                column_number: 1,
                style_class: 'form-control-sm ml-1',
                reset_button_style_class: 'btn btn-link btn-sm',
                filter_default_label: 'Filter',
                filter_reset_button_text: '<i class="fa fa-times text-secondary" aria-hidden="true"></i>'
            }
        ]);
    })

    // Click "Accept" button
    $(document).on("click", "#approveBtn", function (e) {
        e.preventDefault();
        console.log("Approved");
        var data = myTable
            .row($(this).parents('tr'))
            .data();
        post("/Requisition/Approve", { rid: data.Requisition, email: "", remarks: "" });
    });

    // Click "Reject" button
    $(document).on("click", "#rejectBtn", function (e) {
        e.preventDefault();
        console.log("Rejected");
        var data = myTable
            .row($(this).parents('tr'))
            .data();
        post("/Requisition/Reject", { rid: data.Requisition, email: "", remarks: ""});
    });

    // Click "Info" buttons
    $(document).on("click", ".getInfo", function (e) {
        e.preventDefault();
        console.log("Get Info");
        var data = myTable
            .row($(this).parents('tr'))
            .data();
        window.location.href = "/Requisition/RequisitionDetails?rid=" + data.Requisition;
    });

    // Click "Edit Details" link
    $(document).on("click", ".editDetails", function (e) {
        e.preventDefault();
        console.log("Edit Details");
        var data = myTable
            .row($(this).parents('tr'))
            .data();
        window.location.href = "/Requisition/EditRequisition?rid=" + data.Requisition;
    });

    // Click "Cancel" link
    $(document).on("click", "#cancel", function (e) {
        e.preventDefault();
        console.log("Cancel");
        var data = myTable
            .row($(this).parents('tr'))
            .data();
        post("/Requisition/Cancel", { rid: data.Requisition });
    });

    // Click "Process All Requisitions" button
    $(document).on("click", "#processAllRequisitionButton", function (e) {
        e.preventDefault();
        var data = $('#myTable').DataTable().rows().data().toArray();
        process(data);
    });

    // Click "Process Selected Requisitions" button
    $(document).on("click", "#processSelectedButton", function (e) {
        e.preventDefault();
        var data = $('#myTable').DataTable().rows({ selected: true }).data().toArray();
        process(data);
    });

    function process(data) {
        var reqIdArray = [];
        for (i = 0; i < data.length; i++) {
            reqIdArray[i] = data[i].Requisition;
        }

        // call the appropriate controller with the data
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "/api/processrequisitions",
            data: JSON.stringify(reqIdArray),
            dataType: "json",
            success: function (data) {
                var requisition = data.count == 1 ? "Requisition" : "Requisitions";
                var message = data.count + " " + requisition + " processed. Retrieval Form #" + data.rid + " created.";
                post("/Requisition/StationeryRetrieval?rid=" + data.rid, { message: message });
            },
            error: function (data) {
                $('#alert').html(
                    '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    data.responseJSON.Message +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' +
                    '</div>'
                );
            }
        });
    }
</script>