
@{
    ViewBag.Title = "RequisitionDetails";
}

<h2 class="mb-3">Requisition Details</h2>
<div class="row mb-3">
    <div class="col-md-4">
        <h6>Requisition</h6>
        DDS/111/99
    </div>
    <div class="col-md-8">
        <h6>Department</h6>
        Computer Science
    </div>
    <div class="col-md-12">
        <h6>Collection Point</h6>
        Stationery Store = Administration Building
    </div>
    <div class="col-md-4">
        <h6>Created By</h6>
        Jenny Wong Mei Lin
    </div>
    <div class="col-md-4">
        <h6>Updated By</h6>
    </div>
    <div class="col-md-4">
        <h6>Approved By</h6>
    </div>
    <div class="col-md-4">
        <h6>Created Time</h6>
        Jenny Wong Mei Lin
    </div>
    <div class="col-md-4">
        <h6>Updated Time</h6>
    </div>
    <div class="col-md-4">
        <h6>Approved Time</h6>
    </div>
</div>

@Html.Partial("_RequisitionDetailTable")
